@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  min-height: 350px;
  font-family: 'Poppins', sans-serif;
}

.page-bg {
  background-color: antiquewhite;
  background-size: cover;
  background-position: center;
  height: 100vh; /* Make sure the div covers the full viewport height */
  width: 100vw; /* Optional: Make sure the div covers the full viewport width */
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  -webkit-appearance: none;
  width: 50%; /* Increase width */
  height: 15px; /* Increase height */
  background: #b8bdef;
  border-radius: 10px; /* Increase border radius for a more rounded look */
  outline: none;
  opacity: 0.9;
  transition: opacity .2s;
  margin-top: 20px; /* Space above the slider */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-gradient {
  background-image: url('./assets/bg.gif');
  background-size: cover;
  background-position: center;
  height: 100vh; /* Make sure the div covers the full viewport height */
  width: 100vw; /* Optional: Make sure the div covers the full viewport width */
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-2 {
  background-image: url('./assets/bg2.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh; /* Make sure the div covers the full viewport height */
  width: 100vw; /* Optional: Make sure the div covers the full viewport width */
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: rgb(167, 135, 214);
  color: white;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--thumb-color, #888); /* Default color is #888 */
  cursor: pointer;
}

.side-by-side {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

