@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 500px;
  min-height: 600px;
  font-family: 'Poppins', sans-serif;
}

.page-bg {
  background-color: antiquewhite;
  background-size: cover;
  background-position: center;
  height: 100vh; /* Make sure the div covers the full viewport height */
  width: 100vw; /* Optional: Make sure the div covers the full viewport width */
  display: flex;
  align-items: center;
  justify-content: center;
}


.slider {
  -webkit-appearance: none; /* Remove default styling for WebKit browsers */
  width: 100%; /* Full width of its container */
  height: 15px; /* Height of the slider track */
  background: #ffffff; /* Light gray background for the track */
  border-radius: 10px; /* Rounded corners for the track */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-gradient {
  background-image: url('./assets/bg.gif');
  background-size: cover;
  background-position: center;
  height: 100vh; /* Make sure the div covers the full viewport height */
  width: 100vw; /* Optional: Make sure the div covers the full viewport width */
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-2 {
  background-image: url('./assets/bg2.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh; /* Make sure the div covers the full viewport height */
  width: 100vw; /* Optional: Make sure the div covers the full viewport width */
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: white;
  color: black;
  padding: 20px 50px; /* vertical horizontal */
  border-radius: 16px; 
  font-size: 18px; 
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: rgb(167, 135, 214);
  color: white;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--thumb-color, #888); /* Default color is #888 */
  cursor: pointer;
}

.side-by-side {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 16px; /* Adjust padding as needed */
  justify-content: flex-start;
  overflow-y: auto;
}

.title {
  font-size: 2rem; /* Equivalent to text-4xl */
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
  align-items: center;
  text-align: center;
  padding-top: 30px;
}

.summary-container {
  width: 100%;
  max-width: 600px; /* Adjust max-width as needed */
  padding: 15px;
  font-size: 15px;
  margin-bottom: 15px; /* Adjust margin as needed */
  align-items: center;
}

@keyframes growShrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Adjust the scale value as needed */
  }
  100% {
    transform: scale(1);
  }
}

.animate-grow-shrink {
  animation: growShrink 3s infinite; /* Adjust duration as needed */
}

.description {
  font-size: 15px;
  margin-bottom: 15px;
  align-items: center;
}